html {
  height: 100%;
  width: 100%;
}


/*header & nav*/
nav {
  float: right;
  margin: 72px 20px 0 0;

}

nav a {
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
  color: #009739;
  font-family: Quattrocento, sans-serif;

}

nav a:hover {
  color: #fedd00;
}